@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@100;300;400&family=Urbanist:wght@100;200;500&display=swap");

.container {
  display: flex;
  max-width: 100%;
  height: 65rem;
  background-color: #29282d;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
bottom: 25rem;
  left: -1.8rem;
  z-index: 5;
transform:translateX(135%);
  width: 400px;
  height: 400px;
  background: rgba(41, 40, 45, 1.5);
  border-radius: 50%;
  overflow: hidden;
 cursor: pointer; 
}

.box::before {
  content: "";
  position: absolute;
  inset: 0rem -10rem;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s; 
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border-radius: 50%;
  border: 6px solid #29282d;
  z-index: 3;
  overflow: hidden;
}

.content .imgen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.card {
  position: relative;
  margin-top: 0rem;
  width: 1000px;
  margin-top: 16rem;
  height: 200px;
  background: #333;
  transition: 0.5s;
  right:12rem;
  bottom:10rem;
  border-radius: 20px;
  overflow: hidden;
cursor: pointer;
}

.card .lines {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 1500px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );

  animation: anime 4s linear infinite;
}

@keyframes anime {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(160deg);
  }
}
.card .lines::after {
  content: "";

  position: absolute;
  inset: 3px;
  border-radius: 20px;
  background: #1a1b1e;
}

.title h1 {
  color: white;
  position: absolute;
  font-size: 11rem;
  top: -120px;
  margin-left: 2.0rem;
  z-index: 10;
}

.title h1 span {
  margin-left: 400px;
}

.about {
  position: relative;
  top:2rem; 
  font-size: 1.5rem;
  margin: 15rem 0rem 0rem 0px;
  background: #29282d;
  border-radius: 30px;
  transform: translate(13%);
  width: 800px;
  max-height: 100%;
  color: white;
}

@media screen and (min-width: 768px ) and (max-width: 1023px) {
  
  .box {
  position: relative;
bottom: 16rem;
  left: -60px;
  z-index: 5;
transform:translateX(130%);
  width: 250px;
  height: 250px;
  background: rgba(41, 40, 45, 1.5);
  border-radius: 50%;
  overflow: hidden;
  
}

.box::before {
  content: "";
  position: absolute;
  inset: -20px 0px;
  width: 30rem;
  height:20rem;
  left:-120px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(380deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border-radius: 50%;
  border:3px solid #29282d;
  z-index: 3;
  overflow: hidden;
}

.content .imgen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  position: relative;
  width: 500px;
  margin-top: 16rem;
  height: 100px;
  background: #333;
  transition: 0.5s;
  right: 7rem;
  bottom:5rem;
  border-radius: 20px;
  overflow: hidden;
}

.card .lines {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 500px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );

  animation: anime 4s linear infinite;
}

@keyframes anime {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(160deg);
  }
}
.card .lines::after {
  content: "";

  position: absolute;
  inset: 3px;
  border-radius: 10px;
  background: #1a1b1e;
}

.title h1 {
  color: white;
  position: absolute;
  font-size: 5rem;
  top: 10px;
  margin-left: 0.5rem;
  z-index: 10;
}

.title h1 span {
  margin-left: 250px;
}

.about {
  position: relative;
  top:1rem;
  font-size: 1.5rem;
 left: 0.2rem; 
  background: #29282d;
  border-radius: 30px;
  transform: translate(5.5%);
  width: 450px;
  color: white;
}

.about p {

font-size:1.2rem;
text-align: left;
position:relative;
top:1.5rem;


}



}

@media screen and (min-width: 300px ) and (max-width: 768px) {
  
  .box {
  position: relative;
  left: -4rem;
  z-index: 20;
bottom: 32rem;
  width:300px;
  height: 150px;
  background: rgba(41, 40, 45, 1.5);
  border-radius: 50%;
  overflow: hidden;
  
}

.box::before {
  content: "";
  position: absolute;
  inset: -20px 0px;
  width: 30rem;
  height:20rem;
  left:-120px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(380deg);
  }
}

.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.content {
  position: absolute;
  inset: 30px;
  border-radius: 50%;
  border:3px solid #29282d;
  z-index: 3;
  overflow: hidden;
}

.content .imgen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  width: 500px;
  position: relative;
  height: 300px;
  background: #333;
  transition: 0.5s;
  right: 4rem;
  bottom:20rem;
  border-radius: 20px;
  overflow: hidden;
}

.card .lines {
  position: absolute;
  inset: 0;
  height: 100%;
  border-radius: 20px;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  height: 50%;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );

  animation: anime 4s linear infinite;
}

@keyframes anime {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(160deg);
  }
}
.card .lines::after {
  content: "";
height: 100%;

  position: absolute;
  inset: 3px;
  border-radius: 10px;
  background: #1a1b1e;
}

.title h1 {
display: none;
}

.about {
  position: relative;
  top:10rem;
  left: 0.3rem;
  font-size: 1rem;
  margin: 0rem 0px 0rem 0px;
  background: #29282d;
  border-radius: 30px;
  transform: translate(5.5%);
  width: 200px;
  height:100% ;
  color: white;
}

.about p {

font-size:0.9rem;
text-align:center;
position:relative;
top:1.5rem;


}


}
